.advantage {
  padding-top: 60px;
  padding-bottom: 60px;
  @media screen and (min-width: 768px) {
    display: flex;
    flex-wrap: wrap;
  }
  @media screen and (min-width: 1140px) {
    display: flex;
    flex-wrap: nowrap;
    padding-top: 94px;
  }
  &-items {
    @media screen and (min-width: 768px) {
      width: 354px;
    }
  }
}

.advantage-items::before {
  display: inline-block;
  content: '';
  max-width: 450px;
  width: 100%;
  height: 120px;
  margin-bottom: 30px;
  background-color: $bg-section-team;
  background-repeat: no-repeat;
  background-position: center;
  @media screen and (min-width: 768px) {
    max-width: 354px;
    width: 100%;
    height: 120px;
  }
  @media screen and (min-width: 1140px) {
    max-width: 270px;
    width: 100%;
    height: 120px;
  }
}
.advantage-items:not(:last-child) {
  @media screen and (min-width: 1140px) {
    margin-right: 30px;
  }
  @media screen and (max-width: 767px) {
    margin-bottom: 30px;
  }
}
.advantage-items:nth-child(odd) {
  margin-right: 30px;
}

.advantage-items__title {
  font-weight: 700;
  margin-bottom: 10px;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: $second-color;
  @media screen and (max-width: 767px) {
    text-align: center;
  }
}
.advantage-items__description {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: $description-color;
}
@each $iconName in $icons {
  .advantage-items.advantage-items__#{$iconName}::before {
    background-image: url(../images/icons/#{$iconName}.svg);
  }
}
