.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.2);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(0.9);
}
.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  @media screen and (max-width: 767px) {
    width: 450px;
  }
  width: 530px;
  background-color: $title-color;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;

  transform: translate(-50%, -50%) scale(1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.form-modal {
  width: 448px;
  margin-right: auto;
  margin-left: auto;
  &__title {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 0.86;
    text-align: center;
    letter-spacing: 0.03em;
    padding-top: 40px;
    margin-bottom: 12px;
    color: $second-color;
  }
  &__button-exit {
    position: absolute;
    right: 8px;
    top: 8px;
    width: 30px;
    height: 30px;
    background-color: $title-color;
    border-radius: 50%;
    border: 1px solid rgba(0, 0, 0, 0.1);
  }
  &__icon-exit {
    width: 11px;
    height: 11px;
    fill: $second-icon-color;
  }
  &__icon-name {
    width: 18px;
    height: 18px;
  }
  &__icon-phone {
    width: 18px;
    height: 18px;
  }
  &__icon-email {
    width: 18px;
    height: 18px;
  }
  &__group {
    position: relative;
  }
  &__group:not(:last-child) {
    margin-bottom: 10px;
  }
  &__field-name:not(:last-child) {
    margin-bottom: 4px;
  }
  &__agree-policy-link {
    color: $main-color;
    text-decoration: underline;
    margin-left: 5px;
  }
  &__agree-policy {
    display: flex;
    margin-top: 10px;
    font-family: 'Roboto';
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: #757575;
    align-items: center;
    @media screen and (max-width: 767px) {
      font-size: 12px;
      line-height: 0.85;
    }
  }

  &__agree-policy-checkbox {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
  }
  &__agree-policy-name {
    display: inline-block;
    width: 16px;
    height: 15px;
    border: 2px solid $second-color;
    border-radius: 2px;
    margin-right: 8px;
  }
  &__agree-policy-checkbox:checked + .form-modal__agree-policy-name {
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    background-color: $main-color;
    background-image: url('../images/icons/icon-checkbox.svg');
    background-size: contain;
    background-origin: border-box;
    border-radius: 2px;
    border-color: transparent;
  }
  &__field-name {
    display: flex;
    flex-direction: column;
    font-family: 'Roboto';
    font-weight: 400;
    font-size: 12px;
    line-height: 1.16;
    letter-spacing: 0.01em;
    color: $description-color;
  }
  &__item {
    display: inline-block;
    position: absolute;
    left: 20px;
    top: 50%;
    transform: translate(-50%);
    height: 18px;
  }
  &__input-field {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    letter-spacing: 0.01em;
    position: relative;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    resize: none;
    width: 100%;
    padding-top: 7px;
    padding-bottom: 7px;
  }
  &__input-field::placeholder {
    font-family: 'Roboto';
    font-weight: 400;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.01em;
    color: rgba(117, 117, 117, 0.5);
  }
  &__input-field:not(:last-child) {
    padding-left: 42px;
  }
  &__input-field:focus-within {
    outline: none;
    border: 1px solid $main-color;
  }
}
.form-modal__button-exit:hover .form-modal__icon-exit {
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  fill: $main-color;
}
.form-modal__group:focus-within > .form-modal__item {
  fill: $main-color;
}
.form-submit {
  display: flex;
  justify-content: center;
  margin-top: 30px;
  padding-bottom: 40px;
  &__buttom {
    width: 200px;
  }
}
.feed-back {
  padding: 12px 16px;
  height: 120px;
}
.js-speaker-form {
  @media screen and (max-width: 767px) {
    padding-right: 40px;
    padding-left: 40px;
  }
}
