.cards-list {
  display: flex;
  flex-wrap: wrap;
  padding-bottom: 60px;
  @media screen and (min-width: 1140px) {
    padding-bottom: 94px;

    flex-basis: calc(100% / 3 - 40px);
  }

  &__item {
    @media screen and (max-width: 767px) {
      width: 450px;
      margin-bottom: 15px;
      margin-top: 15px;
    }
    @media screen and (min-width: 768px) {
      flex-basis: calc(100% / 2 - 20px);
    }

    border: 1px solid #eeeeee;
    @media screen and (min-width: 1140px) {
      flex-basis: calc(100% / 3 - 20px);
      margin-right: 15px;
    }
  }

  &__item:hover,
  &__item:focus {
    border: 1px solid $title-color;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
      1px 4px 6px rgba(0, 0, 0, 0.16);
  }
  &__item:hover .card-overlay {
    transform: translateY(-100%);
  }
  &__item:nth-child(3n) {
    margin-right: 0px;
  }
  &__item:nth-last-child(-n + 3) {
    margin-bottom: 0px;
  }
  &__item:nth-child(-n + 3) {
    margin-top: 0px;
  }
  &__item:not(:last-child) {
    @media screen and (min-width: 767px) {
      margin-bottom: 30px;
    }
    @media screen and (min-width: 1139px) {
      margin-bottom: 0;
    }
  }
  &__item:nth-child(odd) {
    @media screen and (min-width: 767px) {
      margin-right: 30px;
    }
    @media screen and (min-width: 1139px) {
      margin-right: 0;
    }
    &__item:nth-child(-n + 3) {
      @media screen and (min-width: 1139px) {
        margin-right: 0;
      }
    }
  }
}
.card-overlay {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 24px;
  width: 100%;

  background: rgba(33, 150, 243, 0.9);
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
  height: 100%;

  color: $title-color;
  transform: translateY(0%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.card-thumb {
  position: relative;
  overflow: hidden;
}
.card-group {
  padding: 20px 24px;
  &__title {
    font-family: 'Roboto';
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    color: $second-color;
  }
  &__description {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.8;
    letter-spacing: 0.03em;
    color: $description-color;
    padding-top: 4px;
  }
}
.card-image {
  width: 100%;
  height: 100%;
}
