.clients-title {
  @media screen and (max-width: 767px) {
    padding-bottom: 50px;
  }
  padding-top: 60px;
  text-align: center;
  color: $second-color;
  font-weight: 700;
  font-size: 28px;
  line-height: 0.84;
  @media screen and (min-width: 768px) {
    font-size: 36px;
    line-height: 33px;
  }
  @media screen and (min-width: 1140px) {
    line-height: 42px;
  }
}
.clients-list {
  display: inline-flex;
  flex-wrap: wrap;
  @media screen and (min-width: 768px) {
    padding-bottom: 60px;
    justify-content: center;
  }
  @media screen and (min-width: 1140px) {
    flex-wrap: nowrap;
  }
  padding-bottom: 60px;
  &__icon-color {
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    fill: $icon-color;
  }
  &__item {
    @media screen and (min-width: 768px) {
      padding: 16px 32px;
      width: 226px;
      display: flex;
      align-items: center;
      justify-content: center;
      margin-top: 30px;
    }
    @media screen and (min-width: 1140px) {
      width: 170px;
      margin-top: 50px;
    }
    @media screen and (max-width: 767px) {
      padding: 16px 52px;
    }

    border: 1px solid #afb1b8;
    border-radius: 4px;
    transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
    cursor: pointer;
    width: 210px;
    height: 92px;
  }

  &__item:not(:nth-child(3n + 3)) {
    @media screen and (min-width: 768px) {
      margin-right: 30px;
    }
  }
  &__item:not(:last-child) {
    @media screen and (min-width: 1140px) {
      margin-right: 30px;
    }
  }
  &__item:hover,
  &__item:focus {
    border: 1px solid $main-color;
  }
  &__item:nth-child(2n + 1) {
    @media screen and (max-width: 767px) {
      margin-right: 30px;
    }
  }
  &__item:not(:nth-last-child(-n + 2)) {
    @media screen and (max-width: 767px) {
      margin-bottom: 30px;
    }
  }
  &__icon {
    width: 106px;
    height: 60px;
  }
}
.clients-list__item:hover .clients-list__icon-color {
  fill: $main-color;
}
