.filter-list {
  display: flex;
  flex-wrap: wrap;
  padding-top: 60px;
  @media screen and (min-width: 1140px) {
    justify-content: center;
    padding-top: 94px;
  }

  margin-bottom: 50px;
  &__item:not(:nth-child(3)) {
    margin-right: 8px;
  }
  &__item:nth-child(5) {
    margin-top: 15px;
  }
  &__item:nth-child(4) {
    margin-top: 15px;
  }
  &__buttoms {
    font-family: 'Roboto';
    font-weight: 500;
    font-size: 16px;
    line-height: 1.6;
    letter-spacing: 0.03em;
    color: $second-color;
    background-color: $bg-section-team;
    border-radius: 4px;
    width: 128px;
    height: 38px;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
      background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
      box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1),
      border-radius 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  &__buttoms:hover,
  &__buttoms:focus {
    color: $title-color;
    background: $main-color;
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
      0px 2px 2px rgba(0, 0, 0, 0.12);
    border-radius: 4px;
  }
}
