.footer-section {
  background: $bg-hero-and-footer;
  padding-bottom: 60px;
  width: 100%;
  padding-top: 60px;
  &__adress {
    @media screen and (max-width: 1139px) {
      text-align: center;
    }
  }
}
.footer-wrapper {
  @media screen and (min-width: 768px) {
    display: flex;
    align-items: baseline;
    flex-wrap: wrap;
    justify-content: space-around;
  }
  @media screen and (min-width: 1140px) {
    justify-content: center;
    flex-wrap: nowrap;
  }
}
.footer-logo {
  display: inline-block;
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: $main-color;
  @media screen and (max-width: 1139px) {
    padding-left: 31px;
  }
  margin-bottom: 20px;
  &__span {
    color: $title-color;
  }
}
.footer-adress__item:not(:last-child) {
  margin-bottom: 8px;
  @media screen and (min-width: 768px) {
    margin-bottom: 9px;
    width: 231px;
  }
}
.footer-adress__contacts {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  margin-bottom: 60px;
  &:hover,
  &:focus {
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    color: $main-color;
  }
  &:last-child {
    margin-bottom: 60px;
  }
}
.footer-adress__location {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: $title-color;
}
.title-subscribe {
  @media screen and (max-width: 767px) {
    margin-top: 60px;
  }
  @media screen and (min-width: 1140px) {
    text-align: initial;
  }
  text-align: center;
  margin-bottom: 20px;
  font-family: 'Roboto';
  font-weight: 700;
  font-size: 14px;
  line-height: 0.8;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: $title-color;
}
.social-media {
  display: flex;
  @media screen and (max-width: 767px) {
    justify-content: center;
  }
  @media screen and (min-width: 1140px) {
    margin-right: 93px;
  }
  &__item:not(:last-child) {
    margin-right: 10px;
  }
  &__group {
    display: contents;
    margin-right: 93px;
  }
  &__link {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 44px;
    height: 44px;
    border-radius: 50%;
    background-color: $bg-footer-icons;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  &__link:hover,
  &__link:focus {
    background-color: $main-color;
  }
  &__icon {
    width: 20px;
    height: 20px;
    fill: $title-color;
  }
}
.section-adress {
  @media screen and (max-width: 767px) {
    text-align: center;
  }
  @media screen and (min-width: 768px) {
    margin-right: 70px;
  }
}
.footer-form__item {
  @media screen and (max-width: 767px) {
    align-items: center;
  }
  display: flex;
  flex-direction: column;
}
.footer-form__item .footer-form__subscribe {
  font-family: 'Roboto';
  font-weight: 400;
  line-height: 1.16;
  letter-spacing: 0.01em;
  outline: none;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  background-color: $bg-hero-and-footer;
  color: $title-color;
  padding: 15px;
  height: 50px;
  @media screen and (max-width: 1139px) {
    width: 450px;
  }
  width: 350px;
}
.footer-form__subscribe::placeholder {
  font-family: 'Roboto';
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;

  color: rgba(255, 255, 255, 0.6);
}
.submit {
  @media screen and (min-width: 768px) {
    margin-top: 20px;
    display: flex;
    justify-content: center;
  }
  @media screen and (min-width: 1140px) {
    display: block;
  }
  @media screen and (max-width: 767px) {
    display: flex;
    justify-content: center;
    margin-top: 20px;
  }
  &-button {
    display: flex;
    align-items: center;
  }
  &-icon {
    width: 24px;
    height: 24px;
    margin-left: 10px;
  }
  &-button {
    padding: 10px 32px;
    font-weight: 700;
    @media screen and (min-width: 1140px) {
      padding: 10px 28px;
      margin-left: 12px;
    }
    font-family: 'Roboto';
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.06em;
    color: $title-color;
    background: $main-color;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    border: 0;
  }
}
.form-subscribe {
  @media screen and (min-width: 768px) {
    padding-top: 60px;
  }
  @media screen and (min-width: 1140px) {
    display: flex;
    align-items: end;
  }
}
