.container {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
  max-width: 480px;

  @media screen and (min-width: 768px) {
    max-width: 768px;
  }
  @media screen and (min-width: 1140px) {
    max-width: 1200px;
  }
}
.page-header {
  position: relative;
  border-bottom: 1px solid #ececec;
}
.site-nav__group .site-nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.site-nav__link-active .site-nav .site-nav__link::after {
  display: block;
  content: '';
  background: $main-color;
  height: 4px;
  margin-top: 28px;
  border-radius: 2px;
  transform: scaleX(0);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.site-nav {
  &__button {
    @media screen and (max-width: 767px) {
      display: inline-flex;
    }
    @media screen and (min-width: 768px) {
      display: none;
    }
  }
  &__item:not(:last-child) {
    margin-right: 50px;
  }
  &__menu-button {
    position: absolute;
    top: 10px;
    right: 15px;
  }
  &__link {
    display: block;
    padding-top: 32px;
    color: $second-color;
    font-weight: 500;
    font-size: 40px;
    line-height: 0.85;
    letter-spacing: 0.02em;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    font-family: 'Roboto';
    @media screen and (min-width: 768px) {
      font-size: 14px;
      line-height: 0.85;
      position: relative;
    }
    &-active {
      color: $main-color;
    }
  }
  &__link::after {
    @media screen and (max-width: 768px) {
      display: none;
    }
    display: block;
    content: '';
    background: #2196f3;
    height: 4px;
    margin-top: 28px;
    border-radius: 2px;
    transform: scaleX(0);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  &__link-active::before {
    @media screen and (max-width: 768px) {
      display: none;
    }
    position: absolute;
    content: '';
    width: 100%;
    height: 4px;
    background-color: #2196f3;
    bottom: 0;
    border-radius: 2px;
  }

  &__link:hover,
  &__link:focus {
    color: $main-color;
  }
  &__menu {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 999;
    background-color: $title-color;
    padding-left: 40px;
  }
  &__logo {
    color: $second-color;
    font-family: 'Raleway';
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;

    @media screen and (max-width: 767px) {
      padding-top: 16px;
      padding-bottom: 16px;
      font-family: 'Raleway';
      font-style: normal;
      font-weight: 700;
      font-size: 24px;
      line-height: 0.85;
      letter-spacing: 0.03em;
      color: $second-color;
    }
    @media screen and (min-width: 768px) {
      font-family: 'Raleway';
      font-style: normal;
      font-weight: 700;
      line-height: 1.16;
    }
  }
  &__logo-span {
    color: $main-color;
  }
  &__list {
    @media screen and (min-width: 768px) {
      display: flex;
      margin-right: 84px;
      margin-left: 88px;
    }
    @media screen and (min-width: 1140px) {
      display: flex;
      margin-left: 93px;
      margin-right: 0;
    }
  }
}
.site-nav__button .site-nav__icons-close {
  display: none;
}
.site-nav__button.is-open .site-nav__icons-close {
  display: block;
}
.site-nav__button.is-open .site-nav__icons-menu {
  display: none;
}
@media screen and (max-width: 767px) {
  .list-contacts__icon-email {
    display: none;
  }
  .list-contacts__icon-phone {
    display: none;
  }
}
.site-nav__menu.is-open {
  display: block;
  position: fixed;
}
.site-nav__button.is-open > .site-nav__logo {
  display: none;
}
.list-contacts {
  @media screen and (max-width: 767px) {
    display: flex;
    flex-flow: wrap-reverse;
    flex-direction: column-reverse;
    &__item:not(:last-child) {
      margin-top: 32px;
    }
  }
  @media screen and (min-width: 1140px) {
    display: flex;
    align-items: center;
  }
  margin-left: auto;

  &__link {
    display: flex;
    align-items: center;
    color: $description-color;
    font-family: 'Roboto';
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    @media screen and (max-width: 767px) {
      font-weight: 500;
      font-size: 24px;
      line-height: 1.16;
      letter-spacing: 0.02em;
    }
    @media screen and (min-width: 768px) {
      font-style: normal;
      font-size: 12px;
      line-height: 0.85;
      letter-spacing: 0.02em;
    }
    @media screen and (min-width: 1140px) {
      display: flex;
      align-items: center;
      font-size: 14px;
      line-height: 0.87;
    }
  }
  &__link-phone {
    @media screen and (max-width: 767px) {
      color: $main-color;
      font-size: 34px;
      line-height: 0.85;
      letter-spacing: 0.02em;
    }
  }
  &__item:not(:last-child) {
    @media screen and (min-width: 768px) {
      margin-bottom: 10px;
    }
    @media screen and (min-width: 1140px) {
      margin-bottom: 0;
      margin-right: 30px;
    }
  }
  &__link:hover,
  &__link:focus {
    color: $main-color;
  }
  &__icon-email {
    width: 16px;
    height: 12px;
    margin-right: 10px;
  }
  &__icon-phone {
    width: 10px;
    height: 16px;
    margin-right: 10px;
  }
}
.list-social {
  display: flex;
  margin-top: 64px;
  padding-bottom: 48px;
  &__item {
    padding: 5px;
  }
  &__item:not(:last-child) {
    border-right: 1px solid rgba(33, 33, 33, 0.2);
  }
  &__link {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 1.22;
    letter-spacing: 0.02em;
    color: $main-color;
  }
}
.main-header {
  @media screen and (max-width: 768px) {
    display: none;
  }
  &__nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
  &__group {
    @media screen and (max-width: 1139px) {
      display: flex;
      justify-content: center;
    }
  }
}
.mobile-header {
  @media screen and (min-width: 768px) {
    display: none;
  }
}
.group-sive__nav {
  position: relative;
}
.group-list__contacts {
  position: absolute;
  bottom: 0;
}
.site-nav__item:hover .site-nav__link::after {
  transform: scaleX(1);
}
